@model webOglasnik.Models.Kategorija

@{
    ViewBag.Title = "Brisanje";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="text-danger">Jeste li sigurni da želite izbrisati ovu kategoriju?</h3>
<div>
    <h4>Kategorija</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-dark" />
            @Html.ActionLink("Povratak na popis", "Index", "", new { @class = "btn btn-dark" })
        </div>
    }
</div>
